/* Header Style */
.header-top{
    /* background: url('/public/Main/frontend/images/bg_header.jpg');
    background-repeat: no-repeat, repeat; */
    background-color: antiquewhite;
}

.border-header{
    border-bottom: 0.5px solid black;
}
.header-top-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.header-top-info ul li{
    list-style-type: none;
    color: #9097b9;
    font-size: 16px;
    font-weight: bold;
    
}

.header-top .footer-social
{
text-align: left;
text-decoration: none;
list-style-type: none;

}
.header-top .footer-social ul li{
    list-style-type: none;
}

.header-top .footer-social ul li a{
    color: #9097b9;
    text-decoration: none;
    font-weight: bold;

}
.header-top .ucs-logo{
    width: 100px;
}
.sticky-wrapper {
    background-color: #18a166;
    border-bottom: 0.5px solid #d1aa67;
}
.sticky-wrapper .navbar .navbar-nav li a {
    color: white;
}

.ucs-upper-image img {
    width: 100%;
}

/* Footer style */
.footer-area{
    background-color: #18a166;
}
.footer-area .footer-widget-container .single-footer-widget h4{
    color: white;
    font-weight: bold;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list{
    list-style-type: none;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a img{
    width: 200px;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a {
    color: white;
    text-decoration: none;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a p{
    color: gray;
}