/* Header Style */
.header-top{
    /* background: url('/public/Main/frontend/images/bg_header.jpg');
    background-repeat: no-repeat, repeat; */
    background-color: antiquewhite;
}

.border-header{
    border-bottom: 0.5px solid black;
    width: 100%;
}
.header-top-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.header-top-info ul li{
    list-style-type: none;
    color: #9097b9;
    font-size: 16px;
    font-weight: bold;
    
}

.header-top .footer-social
{
text-align: left;
text-decoration: none;
list-style-type: none;

}
.header-top .footer-social ul li{
    list-style-type: none;
}

.header-top .footer-social ul li a{
    color: #9097b9;
    text-decoration: none;
    font-weight: bold;

}
.header-top .ucs-logo{
    width: 100px;
}
.sticky-wrapper {
    background-color: #18a166;
    border-bottom: 0.5px solid #d1aa67;
}
.sticky-wrapper .navbar .navbar-nav li a {
    color: white;
}

.ucs-upper-image img {
    width: 100%;
}

/* Footer style */
.footer-area{
    background-color: #18a166;
}
.footer-area .footer-widget-container .single-footer-widget h4{
    color: white;
    font-weight: bold;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list{
    list-style-type: none;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a img{
    width: 200px;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a {
    color: white;
    text-decoration: none;
}
.footer-area .footer-widget-container .single-footer-widget .footer-widget-list li a p{
    color: gray;
}


/* Home Page Style */
.home-wrapper .two-logo img{
    width: 220px;
}
.home-wrapper .building-flex {
    position: relative;
    width: 100%;
}
.home-wrapper .group-image {
    position: absolute;
    top: 90px;
    left: -25px;
    transform: translate(40px,-30px);
}
.home-wrapper .text-cambridge p{
 text-align: justify;
}
.home-wrapper .video-section iframe{
    width: 100%;
    height:315px;
}


.home-wrapper .truely-text h5 {
    position: relative;
    z-index: 1;
} 
.home-wrapper .truely-text h5:before {
    border-top: 2px solid #18a166;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.home-wrapper .truely-text h5 span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
    padding: 0 15px; 
}
.home-wrapper .abc-work .card .image-one img{
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
}

/* Counter */
.home-wrapper .chemical-counter {
    position: relative;
    width: 100%;
} 
.home-wrapper .chemical-counter .chemical-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .home-wrapper .chemical-counter {
    background-color: #18a166;
    background-image: url("/public/Main/frontend/images/chemicals.png");
    background-repeat: no-repeat, repeat;
 
} */
.home-wrapper .chemical-counter .chemical-text .ucs-counter img{
    width: 100px;
}
.home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-num ,
.home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-text
{
   color: white;
   font-size: 1.25rem;
}

.home-wrapper .international-school .card .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #18a166;
}
.home-wrapper .international-school .card h6 ,
.home-wrapper .international-school .card p{
    text-align: center;
}
.home-wrapper .international-school .card:hover{
    transform:scale(1.1);
}

.home-wrapper .enrollment img{
width: 100px;
}
/* .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
} */


@media screen and (max-width:992px) {
    .home-wrapper .group-image {
        position: absolute;
        top: 60px;
        left: 0px;
        transform: translate(0px,0px);
    }
    .home-wrapper .video-section iframe{
        width: 100%;
        height:100%;
    }
    .home-wrapper .chemical-counter .chemical-text .ucs-counter img{
        width: 60px;
    }
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-num ,
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-text
    {
       color: white;
       font-size: 1.0rem;
    }
}

@media screen and (max-width:768px){
    .home-wrapper .chemical-counter .chemical-text .ucs-counter img{
        width: 35px;
    }
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-num ,
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-text
    {
       color: white;
       font-size: 0.75rem;
    }
}
@media screen and (min-width:270px) and (max-width:576px){
    .home-wrapper .chemical-counter .chemical-text .ucs-counter img{
        width: 35px;
    }
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-num ,
    .home-wrapper .chemical-counter .chemical-text .ucs-counter .counter-text
    {
       color: white;
       font-size: 0.45rem;
    }
}